<!DOCTYPE html>

<!-- 
	inside th:replace
	first paramter 'base' is the file name of footer file where we need to send out content
	second parameter 'layout' is the name of the footer which was ceated with th:footer
	third parameter 'section' is the code section in the current page which need to send on footer file
-->

<html lang="en" xmlns:th="http://www.thymeleaf.org" 
	th:replace="base::layout(~{::section})"> 
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<section>
		
		<h1>This is new about section</h1>
		
		<p>A fake footer is a footer that can be changed as needed. For example, you can use a fake paragraph above the footer
			to prevent page content from being scrolled behind the footer.
			You can make a footer invisible by using the hidden attribute. You can specify either 'hidden' (without value) or
			'hidden="hidden"'. A hidden footer is not visible, but maintains its position on the page.
			An effective footer should include essential information, such as: Contact details, Navigation links, Legal
			information.
		</p>
		
	</section>

</body>
</html>